.hide-on-load {
    opacity: 0;
}
#content {
    margin-top: 80px;
    margin-bottom: 25vh;
    position: relative;
    &.wrapper {
        width: $wrapper-width;
        margin: $wrapper-margin;
    }
    .container {
        background-color: $light-gray;
        padding: 20px 0 20px 20px;
        border-radius: $button-border-radius
    }
    button {
        @include button;
        display: inline;
    }
    #main-title {
        z-index: 5;
        position: absolute;
        top: 50px;
        left: 70px;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        display: flex;
        align-items: flex-end;
        font-feature-settings: 'pnum' on, 'lnum' on, 'ss01' on;
        color: $black;
    }
    #left-menu {
        ul {
            li {
                button {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    padding: 6px 0;
                    gap: 12px;
                    font-family: 'Jost';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: #5F5F5F;
                    border: none;
                    &.active {
                        color: $black;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    #middle-menu {
        ul {
            li {
                margin-left: -22%;
                button {
                    all: unset;
                    border: none; 
                    color: $gray;
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;
                    font-family: 'Jost';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 18px;
                    font-feature-settings: 'pnum' on, 'lnum' on, 'ss01' on;
                    color: #5F5F5F;
                    white-space: nowrap;
                    padding: 6px 0;
                    &:hover {
                        color: $black;
                    }
                    &.active {
                        color: $black;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    #right-panel {
        .tipo {
            button {
                margin: 0 6px 0 0;
                &:hover {
                    background-color: $black;
                    color: $white;
                }
                &.active {
                    background-color: $black;
                    color: $white;
                    font-weight: 900;
                }
            }
        }
        #slideshow {
            width: 120%;
            .slide {
                p {
                    min-height:120px;
                    font-family: 'Jost';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                    color: $black;
                }
                &:nth-child(2) {
                    opacity: .4;
                }
            }
        }
    }
    #prev, #next {
        border: none;
        background-color: $black;
        color: $white;
        width: 48px;
        height: 48px;
        border-radius: 100px;
        padding: 12px;
        &:disabled {
            background-color: #E0E0E0;
            cursor: default;
        }
    }
}