header {
    nav {
        background-color: #0000FF;
        padding: 20px;
        ul {
            li {
                display: inline;
                margin-right: 10px;
                a {
                    color: #39f;
                    text-decoration: none;
                }
            }
        }
    }
}