$light-gray: #F7F7F7;
$white: #fff;
$black: #000;
$gray: #B1B1B1;

$primary: #0000FF;
$secondary: #F7F7F7;

$wrapper-width: 86%;
$wrapper-margin: 0 auto;

$button-border-radius: 24px;
$button-transition: all 0.3s ease-in-out;
