//
// IMPORT TAILWIND
//
@tailwind base;
@tailwind components;
@tailwind utilities;

//
// IMPORT FONTS
//
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

//
// IMPORT BASE
//
@import 'variables';
@import 'mixins';

//
// INCLUDE COMPONENTS
//
@import 'header';
@import 'hero';
@import 'content';

//
// RANDOM
//
body {
  @apply bg-white;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  min-height: 100.2vh;
}

h1 {
    display: inline-block;
    will-change: transform;
}